* {font-family: 'Montserrat', sans-serif; color: #E6E6E6;}

body, html {height: 100%;}

body  {background-color: #1A1A1A;}

.container-fluid {position: relative; padding-top: 100px; z-index: 999}

#nav-bar {position: fixed; height: 100px; width: 100%; background-color: #333333; z-index: 1000}

#sitename {position: absolute; left: 50px; bottom: 13px;}

#sitename:hover {color: rgb(255,216,22); cursor: pointer;}

#nav-links {position: absolute; bottom: 13px; right: 50px;}

#nav-links:hover {color: rgb(0, 206, 192); cursor: pointer;}

.item {text-align: center;}

.date {border-bottom: 1px solid; padding-top: 80px;}

.title {padding-top: 20px;}

.info {padding: 15px;} 

.separator {margin-top: 80px;}

img {margin: 0 auto;}

.subtitle {padding-bottom: 50px; border-bottom: 1px solid #E6E6E6}

.btn-default {position: relative; background: none; color: #E6E6E6; z-index: 999}

.left-lines-container {position: absolute; left: 0px; top: 0px; width: 100%; z-index: 1;}

.left-line {stroke:rgb(255,216,22); stroke-width:1; stroke-opacity:.2;}

.right-lines-container {position: absolute; right: 0px; top: 50%; width: 100%; z-index: 1;}

.right-top-lines-container {position: absolute; right: 0px; top: 0px; width: 100%; z-index: 1;}

.right-line {stroke:rgb(255,243,200); stroke-width:1; stroke-opacity:.2;}

.right-top-line {stroke:rgb(0,133,124); stroke-width:1; stroke-opacity:.2;}

a {color: inherit; text-decoration: none;}

a:hover{color: inherit; text-decoration: none;}